.panel-body {
     padding: 1px; 
}

#header {
    background-image: linear-gradient(45deg, #03002F, #662F4E)!important;
    display: block;
    height: 62px;
    margin: 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #e4e5e7;
}